.header-logo {
  font-size: 4rem;
  color: var(--color-neon-blue);
}
.navigation {
  box-shadow: 1px 2px 2px 2px var(--color-box-shadow);
  border: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-wrapper {
  cursor: pointer;
}
.notes-heading-wrapper {
  display: flex;
}
.notes-header-heading {
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  color: var(--color-neon-blue);
  margin: 1rem;
  padding: 1rem 2rem;
  justify-content: space-between;
}
.notes-header-heading-active {
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  margin: 1rem;
  color: white;
  background-color: var(--alert-error);
  padding: 1rem 2rem;
  border-radius: 4px;
}
