.Mindify-logo {
  height: 5rem;
}
.logo-wrapper {
  display: flex;
}
.notes-container {
  display: flex;
  flex-wrap: wrap;
}
.archived-container{
  margin-top:10rem ;
}
.filters{
  border: 1px solid var(--color-black);
  margin:3rem;
  font-size: 1.6rem;
  margin-left:auto ;
}